p {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row; /* Try changing this to 'column' instead!*/
  gap: 10px;
  padding: 20px;
}

.box {
  flex-basis: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}